body {
    background-color: rgb(224, 224, 224);
}

.titulo {
    font-size: 6rem;
    font-weight: 300;
    font-stretch: 60%;
    color: rgba(255, 0, 0, 0.13);
}



.delete-btn{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.taskToDo:hover .delete-btn{
    opacity: 0.3;
}

.delete-btn:hover {
    opacity: 1;
}